@model List<Bookshop_Project.Models.BookViewModel>

@{
    ViewData["Title"] = "Books";
}
<div class="row row-cols-3 g-3">
    @foreach (var result in Model)
    {
        <div class="col">
            <div class="card">
                @if (result.CoverUrl == "")
                {
                    <img src="../assets/alt.jpg" class="card-img-top" alt="" style="height: 400px" />
                }else{
                <img src="@result.CoverUrl" class="card-img-top" alt="../assets/alt.jpg" style="height: 400px" />
                }
                <div class="card-body">
                    <h5 class="card-title">@result.Title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    }
</div>
