@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold;">Helikon</h1>
    <p style="font-size:18px;">Books at an affordable price!</p>

    <form class="d-flex" asp-controller="Home" asp-action="Books" method="get">
        <input class="form-control me-2" name="q" type="search" placeholder="Search books" aria-label="Search books">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<div class="spacer"></div>
<div class="product-row">
    <div class="line"></div>
    <div class="product-card">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">$19.99</p>
        </div>
    </div>
    <div class="product-card">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">$19.99</p>
        </div>
    </div>
    <div class="product-card">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">$19.99</p>
        </div>
    </div>
    <div class="product-card">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">$19.99</p>
        </div>
    </div>
    <div class="product-card">
        <img src="product-image.jpg" alt="Product Image" class="product-image">
        <div class="product-details">
            <h2 class="product-title">Product Title</h2>
            <p class="product-price">$19.99</p>
        </div>
    </div>
    <div class="line"></div>
</div>