@using Bookshop_Project.Data;
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
@inject SignInManager<User> SignInManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookshop_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookshop_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="background-color: #990033;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 30px; font-weight: bold; color: black;" asp-area="" asp-controller="Home" asp-action="Index">Helikon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 22px; font-weight: bold;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 22px; font-weight: bold;" asp-area="" asp-controller="Privacy" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-controller="User" asp-action="Logout">
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </form>
                            </li>
                        }else{
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 22px; font-weight: bold;" asp-area="Identity" asp-controller="User" asp-action="Login">LogIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="font-size: 22px; font-weight: bold;" asp-area="Identity" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position: fixed; width: 100%; height: 85px; bottom: 0; background-color: #990033 ;color: black; text-align: center; font-weight: bold; font-size: 45px; font-family: Helvetica; opacity: 0.9;">
        <div class="container">
            &copy; Helikon <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
