html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#mainHeader {
    width: 100%;
    height: 85px;
    margin: 0px auto;
    background-color: #990033;
    opacity: 0.9;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-details {
    text-align: center;
}

.product-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #666;
}

.product-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.spacer {
   padding-bottom: 20px;
   padding-top: 40px;
}